.best {
    background: url('../img/best/bg-best.jpg') center center / cover no-repeat;
    height: 100%;
    position: relative;

    &__title {
        color: $light-black;
        font-family: "Gagalin-Regular";
        font-size: rem(72px);
        font-weight: 400;
        line-height: rem(64.05px);
        margin-bottom: rem(55px);

    }

    &__logo {
        margin-bottom: rem(34px);
    }

    &__subtitle {
        color: $light-black;
        font-family: 'Lifehack-Medium';
        font-size: rem(24px);
        font-weight: 500;
        line-height: rem(28.14px);
        letter-spacing: -0.6px;
        margin-bottom: rem(20px);
    }

    &__text {
        color: $light-black;
        font-family: "Ubuntu";
        font-size: 14px;
        font-weight: 300;
        line-height: 24.07px;
    }
}

.best-all {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: .8;
}

.best {

    &__list {
        display: flex;
        flex-direction: row;
    }

    &__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: rem(35px);

        &:last-child {
            margin-right: 0;
        }
    }
}