.form {
    
    &__elem {
    display: flex;
    }
    
    &__column {
    width: 50%;
    margin-left: rem(20px);

        &:first-child {
            margin-left: 0;
        }
    }

    &__row {
        display: flex;
    }
    
    &__block {
        flex: 1;
        margin-left: rem(20px);
        display: block;
    
        &:first-child {
            margin-left: 0;
        }

        &-title{
            text-align: left;
            font-family: "Ubuntu";
            font-size: rem(14px);
            font-weight: 300;
            line-height: rem(24px);
            color: $white;
        }

        &--order {
            color: $white;
            margin-bottom: rem(17px);
        }
    }
    
    &__input {
        background: $white;
        border: rem(1px) solid $yellow;
        padding: rem(8px) rem(21px);
        width: 100%;
        margin-bottom: rem(17px);

        &--textarea {
            resize: none;
            height: rem(110px);
        }
    }

    &__buttons {
        margin-top: rem(23px);        
    }
}

.clear {
    color: $white;
    font-family: "Ubuntu";
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(24px);
    margin-left: rem(18px);
}