.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(12px);
}

.menu {

    &__list {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-right: rem(15px);

        &:after {
            content: "";
            width: 4px;
            height: 4px;
            background: #fff;
            border-radius: 50%;
            display: block;
            margin-left: rem(15px);
        }

        &:last-child {
            margin-left: 0;
            &:after {
                display: none;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: white;
        font-size: 13px;
        text-transform: uppercase;
    }
}